.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px 50px;
    grid-template-areas: 
    "hd hd hd hd hd hd"
    "nav nav nav nav nav nav"
    "main main main main main main"
    "ft ft ft ft ft ft";
}
header {
    font-family: 'Dancing Script', cursive;
    grid-area: hd;
    text-align: center;
}
nav {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    position: sticky;
    top: 0;
    background-color: rgba(245, 245, 245, 0.863);
    z-index: 1;
}
nav a {
    flex: 1;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}
section {
    grid-area: main;
    display: flex;
    flex-direction: column;
}
section article {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 150px;
    margin: 5px 0px;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-size: 20px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}
.post {
    flex-grow: 1;
}
article a {
    text-decoration: none;
    color: white;
}
#footer {
    grid-area: ft;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
}
.childhood {
    background-image: url("https://images.pexels.com/photos/3523087/pexels-photo-3523087.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: contain;
    opacity: 0.9;
}
.finland {
    background-image: url("https://images.pexels.com/photos/21014/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: contain;
    opacity: 0.9;
}
.udacity {
    background-image: url("https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: contain;
    opacity: 0.9;
}
.kazakhstan {
    background-image: url("https://cdn.pixabay.com/photo/2019/05/25/23/39/city-4229352_1280.jpg");
    background-size: contain;
    opacity: 0.9;
}
.sport {
    background-image: url("https://images.pexels.com/photos/863988/pexels-photo-863988.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: contain;
    opacity: 0.8;
}
/* Medium Screens */
@media (min-width: 600px) and (max-width:900px) {
    section {
        flex-direction: row;
        flex-wrap: wrap;
    }
    section article {
        min-height: 250px;
        min-width: 250px;
        margin:10px;
    }
}
/* Large Screens */
@media (min-width:901px) {
    section {
        flex-direction: row;
        flex-wrap: wrap;
    }
    section article {
        min-height: 350px;
        min-width: 350px;
        margin:10px;
    }
  }